extends common/_layout

block append meta
  meta(name="description" content="Daniel Dafoe is a Web Developer and Creative Writer in Burlington, Ontario.")
  meta(property="og:title" content="A Portfolio of Web, Mobile, Content, and Creative")

block title
  title Daniel Dafoe - Freelance Web Developer and Creative Writer in Burlington

block body
  //
    =====
    Welcome, visitor. I couldn't help but notice you're inspecting my code. If you have any questions or want to learn about my process, please fill out the contact form or email me directly. Thank you.

    P.S. As this code is all publicly available on my github, feel free to take and modify as you please.
    =====

  a(href='#main').accessible Skip to Main Content

  .title
    h1.name Daniel R. Dafoe
    p.subtitle.
      Front End Developer