doctype html
html(lang='en')
  head
    block meta
      include _meta.jade
      include _styles.jade
    block title

  body
    include _nav

    block body

    block scripts
      include _scripts.jade