nav(aria-label='Main navigation').nav
    ul.nav-list
        li.nav-list-item.nav-list-item--first
            a(href="http://danieldafoe.com/blog" tabindex='-1') Blog
        li.nav-list-item.nav-list-item--second
            a(href="#skills" tabindex='-1') Skills
        li.nav-list-item.nav-list-item--third
            a(href="#projects" tabindex='-1') Experience
        li.nav-list-item.nav-list-item--fourth
            a(href="#contact" tabindex='-1') Contact