link(rel="favicon" href="favicon.ico")
//- link(rel="canonical" href="http://danieldafoe.com")
link(href="css/vendor/bootstrap.min.css" rel="stylesheet")
link(href="css/main.css" rel="stylesheet")
link(href='http://fonts.googleapis.com/css?family=Playfair+Display|Comfortaa' rel='stylesheet' type='text/css')